@using FilmHaus.Localization
@model IEnumerable<FilmHaus.Models.View.UserShowViewModel>
@{
    ViewBag.Title = Locale.MyShows;
}

<h2>@Locale.MyShows</h2>
<hr />
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRelease)
            </th>
            <th>
                @Locale.UserActions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.MediaId">
                <td>
                    <img src="@Url.Content(item.PosterUri.ToString())" alt="@item.MediaName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRelease)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { viewModel = item }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { viewModel = item }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { viewModel = item }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>