@using FilmHaus.Localization
@using FilmHaus.Models.View;
@model ShowViewModel

@{
    ViewBag.Title = Locale.Details;
}

<section>
    <h2>@Locale.Details - @Model.MediaName </h2>
    <div class="btn-group bg-danger btn-group-lg" role="group" aria-label="...">
        @Html.ActionLink(Locale.Edit, "Edit", new { mediaId = Model.MediaId }, new { @class = "btn btn-info" })
        @Html.ActionLink(Locale.Index, "Index", null, new { @class = "btn btn-danger" })
    </div>
</section>
<section>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <img src="@Url.Content(Model.PosterUri.ToString())" alt="@Model.MediaName" class="featurette-image-large" />
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfRelease, htmlAttributes: new { @class = "control-label" })
                    <p class="form-control-static">@Model.DateOfRelease</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Accolades, htmlAttributes: new { @class = "control-label" })
                    <p class="form-control-static">@Model.Accolades</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfSeasons, htmlAttributes: new { @class = "control-label" })
                    <p class="form-control-static">@Model.NumberOfSeasons</p>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("~/Views/Reviews/_CreateReviewPartial.cshtml", new CreateReviewViewModel(Model.MediaId, FilmHaus.Enums.ReviewType.Show))