@using FilmHaus.Localization;
@using Microsoft.AspNet.Identity;
@using FilmHaus.Models.View;
@model ListLibraryViewModel

@{
    ViewBag.Title = Locale.Details;
}

<section>
    <h2>@Locale.Details - @Model.List.Title (@Model.List.CreatedOn)</h2>
    <div class="btn-group bg-danger btn-group-lg" role="group" aria-label="...">
        @if (Model.List.Id == this.User.Identity.GetUserId())
        {
            @Html.ActionLink(Locale.Edit, "Edit", new { listId = Model.List.ListId }, new { @class = "btn btn-info" })
        }

        @Html.ActionLink(Locale.Index, "Index", null, new { @class = "btn btn-danger" })
    </div>
</section>
<hr />
<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.List.Description, htmlAttributes: new { @class = "control-label" })
                    <p class="form-control-static">@Model.List.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.List.Shared, htmlAttributes: new { @class = "control-label" })
                    <p class="form-control-static">@Model.List.Shared</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    @if (Model.Films.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Locale.Poster</th>
                    <th>@Locale.Name</th>
                    <th>@Locale.ReleaseDate</th>
                    <th>@Locale.UserActions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Films)
                {
                    <tr>
                        <td>@item.PosterUri</td>
                        <td>@item.MediaName</td>
                        <td>@item.DateOfRelease</td>
                        <td>
                            @Html.ActionLink(Locale.Details, "Details", "Film", new { mediaId = item.MediaId }, new { @class = "btn btn-info" })
                            @if (User.Identity.GetUserId() == Model.List.Id)
                            {
                                @Html.ActionLink(Locale.Remove, "RemoveFilmFromList", new { mediaId = item.MediaId, listId = Model.List.ListId }, new { @class = "btn btn-warning" });
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                Html.ActionLink(Locale.EditFilm, "Edit", "Film", new { mediaId = item.MediaId }, new { @class = "btn btn-primary" });
                                Html.ActionLink(Locale.Delete, "Delete", "Film", new { mediaId = item.MediaId }, new { @class = "btn btn-warning" });
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="well">
            <p class="text-info">
                @Locale.NoFilms
            </p>
        </div>
    }

    @if (Model.Shows.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Locale.Poster</th>
                    <th>@Locale.Name</th>
                    <th>@Locale.ReleaseDate</th>
                    <th>@Locale.UserActions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shows)
                {
                    <tr>
                        <td>@item.PosterUri</td>
                        <td>@item.MediaName</td>
                        <td>@item.DateOfRelease</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { viewModel = item }, new { @class = "btn btn-info" })
                            @if (User.Identity.GetUserId() == Model.List.Id)
                            {
                                @Html.ActionLink(Locale.Remove, "RemoveShowFromList", new { mediaId = item.MediaId, listId = Model.List.ListId }, new { @class = "btn btn-warning" });
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                Html.ActionLink("Edit", "Edit", new { viewModel = item }, new { @class = "btn btn-primary" });
                                Html.ActionLink("Delete", "Delete", new { viewModel = item }, new { @class = "btn btn-warning" });
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="well">
            <p class="text-info">
                @Locale.NoShows
            </p>
        </div>
    }
</section>