@using FilmHaus.Localization;
@using FilmHaus.Models.View;
@model ExpandedReportExpandedReviewViewModel

<div id="reportModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="@Model.ReportId">
            <div class="modal-header">
                <h4 class="modal-title">
                    @Locale.Report
                </h4>
                <button type="button" class="close pull-right" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ReportedOn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ReportReason)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ReportStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ResolvedOn)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.ReportedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.ReportReason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.ReportStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.ResolvedOn)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" id="@Model.Review.ReviewId">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(m => m.Review.Body)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(m => m.Review.Body)
                        </div>
                    </div>
                </div>
                <div class="form-group" id="@Model.Review.Media.MediaId">
                    <div class="col-md-12">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.Review.Media.MediaName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.Review.Media.DateOfRelease)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.Review.Media.MediaName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.Review.Media.DateOfRelease)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    @Locale.Close
                </button>
            </div>
        </div>
    </div>
</div>