@using FilmHaus.Localization;
@using FilmHaus.Models.View;
@model ResolveReportViewModel

<div id="resolveReportModal" class="modal fade" role="dialog">
    @Html.BeginForm("Resolve", "Reports", FormMethod.Post, new { @class = "form-horizontal" })
    {
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @Locale.Report
                </h4>
                <button type="button" class="close pull-right" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReportStatus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReportStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    @Locale.Close
                </button>
                <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">
                    @Locale.Save
                </button>
            </div>
        </div>
    </div>
    }
</div>