@using FilmHaus.Localization
@model FilmHaus.Models.View.SearchFilmsViewModel
@{
    ViewBag.Title = Locale.Films;
}

<h2>@Locale.Films</h2>
<hr />
@using (Html.BeginForm("SearchFilms", "Search", FormMethod.Post, new { @class = "form form-inline" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchTerm)
        @Html.TextBoxFor(m => m.SearchTerm, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseYear)
        @Html.TextBoxFor(m => m.ReleaseYear, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        <div class="input-group">
            @Html.TextBoxFor(m => m.Rating, htmlAttributes: new { @class = "form-control" })
            <div class="input-group-addon">/ 10</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Accolades)
        @Html.EnumDropDownListFor(m => m.Accolades, htmlAttributes: new { @class = "form-control" })
    </div>
    <input type="submit" value="@Locale.SearchFilms" class="btn btn-primary pull-right" />
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Locale.Poster
            </th>
            <th>
                @Locale.Name
            </th>
            <th>
                @Locale.ReleaseDate
            </th>
            <th>
                @Locale.UserActions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Films)
        {
            <tr id="@item.MediaId">
                <td>
                    <img src="@Url.Content(item.PosterUri.ToString())" alt="@item.MediaName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRelease)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.MediaId }, new { @class = "btn btn-info" })
                    @if (User.IsInRole("Administrator"))
                    {
                        Html.ActionLink("Edit", "Edit", new { id = item.MediaId }, new { @class = "btn btn-primary" });
                        Html.ActionLink("Delete", "Delete", new { id = item.MediaId }, new { @class = "btn btn-warning" });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>