@using FilmHaus.Localization
@model IEnumerable<FilmHaus.Models.View.GeneralFilmViewModel>
@{
    ViewBag.Title = Locale.Films;
}

<h2>@Locale.Films</h2>
<hr />
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRelease)
            </th>
            <th>
                @Locale.UserActions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PosterUri</td>
                <td>@item.MediaName</td>
                <td>@item.DateOfRelease</td>
                <td>@item.Accolades</td>
            </tr>
        }
    </tbody>
</table>