@using FilmHaus.Localization
@model FilmHaus.Models.View.FilmViewModel

@{
    ViewBag.Title = Locale.Delete;
}

<h2>@Locale.Delete</h2>

<h3>@Locale.DeleteConfirm</h3>
<div>
    <h4>@Locale.Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PosterUri)
        </dt>

        <dd>
            <img src="@Url.Content(Model.PosterUri.ToString())" alt="@Model.MediaName"
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRelease)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Locale.Confirm" class="btn btn-default" /> |
            @Html.ActionLink(Locale.Cancel, "Index")
        </div>
    }
</div>