@model FilmHaus.Models.View.FilmViewModel

@{
    ViewBag.Title = $"Details - {Model.FilmName}";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PicUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accolades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accolades)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>