@model FilmHaus.Models.View.FilmViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SampleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleCreated)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>