@using FilmHaus.Localization
@model FilmHaus.Models.View.GeneralFilmViewModel

@{
    ViewBag.Title = Locale.Details;
}

<h2>@Locale.Details</h2>

<div>
    <h4>@Locale.Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PosterUri)
        </dt>
        <dd>
            <img src="@Url.Content(Model.PosterUri.ToString())" alt="@Model.MediaName" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accolades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accolades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>